.header .menu-item {
  float: right; }
  .header .menu-item ul li {
    display: inline-block; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7E1CC; }
  .landing-page .progress h1 {
    color: #656582; }
